@()
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
	<head>
		<title>Slideshow</title>
		<meta http-equiv="content-type" content="text/html; charset=windows-1250">
		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	
		<script type="text/javascript">
		var current_idx = 0;
		var slides;
		var menuwin;
		var show_timer;
		var menu_timer;
		var menu;
		var content;
		var loaded = true;
		
		function initPagesArray(pages) {
			slides = new Array();
			for(var i = 0; i < pages.length; i++) {
				slides[i+1] = new Array(pages[i].duration, pages[i].name, pages[i].url);
			}
		}
		function MenuInit()
		{
		    var html = "";
		    for(idx=1; idx<slides.length; idx++) {
		        html += '<a href="javascript:Navigate('+idx+')">' +
		            slides[idx][1] + "</a><br />\n";
		    }
		    document.getElementById("slides").innerHTML = html;
		    menu.style.display = "block";
		}
		
		function MenuShow()
		{
		    clearTimeout(menu_timer);
		    opacity('menu', 0, 90, 500);
		    menu_timer = setTimeout("MenuHide()", 3500);
		}
		
		function MenuHide()
		{
		    opacity('menu', 90, 0, 500);
		}
		
		function Pause()
		{
		    clearTimeout(show_timer);
		    document.getElementById('play').style.display = "block";
		    document.getElementById('pause').style.display = "none";
		}
		
		function Navigate(slide_idx)
		{
		    clearTimeout(show_timer);
		    if (current_idx == 0) {
		        if (!slide_idx) { slide_idx = 1; }
		        current_idx = slide_idx;
		        content.src = slides[current_idx][2];
		        document.getElementById('play').style.display = "none";
		        document.getElementById('pause').style.display = "block";
		        show_timer = setTimeout("Navigate()", slides[current_idx][0]*1000);
		        return;
		    }
		
		    if (slide_idx) {
		        current_idx = slide_idx;
		        content.src = slides[current_idx][2];
		        document.getElementById('play').style.display = "block";
		        document.getElementById('pause').style.display = "none";
		        return;
		    }
		
		    loaded = false;
		    current_idx++;
		    if ( current_idx == slides.length) { 
		    	function onPagesSuccess(pages) {
		    		initPagesArray(pages);
			    	current_idx = 1; 
		    		opacity('content', 100, 0, 500);
				    document.getElementById('play').style.display = "none";
				    document.getElementById('pause').style.display = "block";
		 		    show_timer = setTimeout("Navigate()", slides[current_idx][0]*1000);
		    	}
		    	$.ajax({
	      	  		url: '/pages',
	      	  		success: onPagesSuccess,
	      		});
		    } else {
		    	opacity('content', 100, 0, 500);
			    document.getElementById('play').style.display = "none";
			    document.getElementById('pause').style.display = "block";
	 		    show_timer = setTimeout("Navigate()", slides[current_idx][0]*1000);
		    }
		    
		    return;   
		}
		
		function opacity(id, opacStart, opacEnd, millisec)
		{
		    //speed for each frame
		    var speed = Math.round(millisec / 100);
		    var timer = 0;
		
		    //determine the direction for the blending, if start and end are the same nothing happens
		    if(opacStart > opacEnd) {
		        for(i = opacStart; i >= opacEnd; i--) {
		            setTimeout("changeOpac(" + i + ",'" + id + "')",(timer * speed));
		            timer++;
		        }
		        if (opacEnd == 0) { setTimeout("FadeOutTrigger('"+id+"')",((timer-1) * speed));; }
		        //if (opacEnd == 0) { FadeOutTrigger(id); }
		    } else if(opacStart < opacEnd) {
		        if (opacStart == 0) { FadeInTrigger(id); }
		        for(i = opacStart; i <= opacEnd; i++)
		            {
		            setTimeout("changeOpac(" + i + ",'" + id + "')",(timer * speed));
		            timer++;
		        }
		    }
		}
		
		//change the opacity for different browsers
		function changeOpac(opacity, id)
		{
		    var object = document.getElementById(id).style;
		    object.opacity = (opacity / 100);
		    object.MozOpacity = (opacity / 100);
		    object.KhtmlOpacity = (opacity / 100);
		    object.filter = "alpha(opacity=" + opacity + ")";
		}
		
		function FadeOutTrigger(id)
		{
		    //alert('FadeOut: '+id);
		    switch(id) {
		    case "menu":
		        document.getElementById(id).style.display = "none";
		        break;
		    case "content":
		        content.src = slides[current_idx][2];
		        //setTimeout("opacity('content', 0, 100, 500)", 1000);
		        break;
		    default:
		        break;
		    }
		}
		
		function FadeInTrigger(id)
		{
		    //alert('FadeIn: '+id);
		    switch(id) {
		   case "menu":
		        document.getElementById(id).style.display = "block";
		        break;
		    case "content":
		        //opacity('content', 0, 100, 500);
		        break;
		    default:
		        break;
		    }
		}
		
		function FadeInContent()
		{
		    if (!loaded) {
		        opacity('content', 0, 100, 500);
		        loaded = true;
		    }
		}
		
		function startSlideshow(pages) {
			if(pages.length === 0) {
				$('#info').html('No pages configured!');
			} else {
				console.log(pages.length);
				initPagesArray(pages);
				menu = document.getElementById('menu');
			    content = document.getElementById('content');
			    Navigate();
			    MenuInit();
			    MenuShow();
			}
		}
		
		function LoadTrigger()
		{
		    //self.resizeTo(1366,768);
		    $.ajax({
      	  		url: '/pages',
      	  		success: startSlideshow,
      		});
		}
		
		window.onload = LoadTrigger;
		</script>
	
	</head>
	<body class="siteshow">
	
		<div id="info"></div>
		<div id="menu">
		    <div id="title">SiteShow Menu</div>
		    <div id="slides">
		    </div>
		    <p>
		        <input id="pause" class="button" style="display:block;" type="button" value="pause" onclick="Pause()" />
		        <input id="play" class="button" style="display:none;" type="button" value="play" onclick="Navigate()" />
		    </p>
		</div>
		<iframe id="content" name="content" style="width:100%; height:100%;" frameborder="no" scrolling="auto" src="" onmouseover="MenuShow();" onload="FadeInContent();" ></iframe>
	</body>
</html>